/* RecipeList.module.css */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.card {
    flex: 1 1 calc(33.333% - 32px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    margin-bottom: 16px;
}

.card a{
    text-decoration: none;
    color:black;
}

.card:hover {
    transform: translateY(-5px);
}

.cardImgTop {
    width: 100%;
    height: auto;
}

.cardTitle {
    font-size: 1.5rem;
    margin: 16px 0 8px;
    padding: 0 16px;
    font-weight: bold;
}

.cardText {
    font-size: 1rem;
    margin: 0 0 16px;
    padding: 0 16px;
}